data/raw/*.csv
data/processed/*.csv

.ipynb_checkpoints/
/models/__pycache__
backend/routes/__pycache__
backend/services/__pycache__
backend/database/__pycache__
backend/models/__pycache__
backend/venv

backend/models/saved/

backend/setup.py
.env